@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Heavy.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
